.styledbtn {
  border: none;
  color: #4b5563;
  background-color: #dddede;
  border-radius: 8px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 14px;
  padding: 0.4em 1.5em 0.6em 1.5em;
}

.styledbtn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  background-color: #e5e7eb;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #3e404066;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.extrastyledbutton svg:active {
  fill: black;
}

.btncrear {
  --color: #1e293b;
  --color2: rgb(219, 219, 220);
  padding: 0.5em 1.2em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  color: var(--color);
}

.btncrear::after,
.btncrear::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btncrear::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btncrear:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btncrear:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btncrear:hover {
  color: var(--color2);
}

.btncrear:active {
  filter: brightness(0.3);
  transform: scale(1.5);
}

.dotspinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dotspinnerdot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dotspinnerdot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dotspinnerot:nth-child(2) {
  transform: rotate(45deg);
}

.dotspinnerdot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dotspinnerdot:nth-child(3) {
  transform: rotate(90deg);
}

.dotspinnerdot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dotspinnerdot:nth-child(4) {
  transform: rotate(135deg);
}

.dotspinnerdot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dotspinnerdot:nth-child(5) {
  transform: rotate(180deg);
}

.dotspinnerdot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dotspinnerdot:nth-child(6) {
  transform: rotate(225deg);
}

.dotspinnerdot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dotspinnerdot:nth-child(7) {
  transform: rotate(270deg);
}

.dotspinnerdot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dotspinnerdot:nth-child(8) {
  transform: rotate(315deg);
}

.dotspinnerdot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}