@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;