@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

/* También puedes definir un estilo personalizado para la barra de desplazamiento, por ejemplo, */
/* Cambiar el color de fondo de la barra de desplazamiento (opcional) */
body::-webkit-scrollbar {
  width: 0.4rem;
  /* Ajusta el ancho según tu preferencia */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo de la pista */
}

/* Cambiar el color de la barra de desplazamiento (opcional) */
body::-webkit-scrollbar-thumb {
  background-color: #3b1963;
  border-radius: 20px; /* Color de la barra de desplazamiento */
}
