@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f77810;
}

::-webkit-scrollbar-thumb:hover {
  background: #f18a2a;
}
