.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Altura de la línea de carga */
  background-color: #f97316; /* Color de la línea de carga */
  animation: loading 1s linear infinite; /* Animación infinita de la línea de carga */
}

@keyframes loading {
  0% {
    left: -100%; /* Inicialmente, la línea está fuera de la pantalla a la izquierda */
  }
  100% {
    left: 100%; /* Al final de la animación, la línea está fuera de la pantalla a la derecha */
  }
}
