.registerButton {
  display: inline-block;

  border-radius: 7px;

  border: none;
  background: #1890ff;
  color: white;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 14px 56px -11px #1875ff;
  padding: 5px;
  padding-inline: 10px;
  transition: all 0.7s;
  cursor: pointer;
}

.registerButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.registerButton:hover span {
  padding-right: 3.55em;
}

.registerButton:hover span:after {
  opacity: 4;
  right: 0;
}

.registerButton:active {
  box-shadow: 0 5px #666;
  transition-duration: 100;
  transform: translateY(3px);
  background-color: #096dd9;
}

.basicButton {
  display: inline-block;

  border-radius: 7px;

  border: none;
  background: #1890ff;
  color: white;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 14px 56px -11px #1875ff;
  padding: 5px;
  padding-inline: 15px;
  transition: all 0.7s;
  cursor: pointer;
}
