.basicButton {
  display: inline-block;

  border-radius: 7px;

  border: none;
  background: #1890ff;
  color: white;
  font-family: inherit;
  text-align: center;
  padding: 5px;
  padding-inline: 15px;
  transition: all 0.5s;
  cursor: pointer;
}
.basicButton:hover {
  background: #1482e9;
  box-shadow: 0px 14px 56px -11px #1875ff;
}
