.button {
  display: inline-block;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  height: 41px;
  background: rgb(248, 207, 70);
  background: linear-gradient(
    90deg,
    rgb(248, 207, 70) 0%,
    rgb(231, 136, 62) 100%
  );
  color: white;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 14px 56px -10px #f8cf46;
  padding-inline: 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;

  height: 41px;
  font-weight: bold;
  display: flex;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: "Enviar";
  position: absolute;
  top: -0.7rem;
  opacity: 0;
  left: 20px;
  right: -50px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 3.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}

.button:active {
  box-shadow: 0 5px #666;
  transition-duration: 100;
  transform: translateY(3px);
  background-color: #096dd9;
}
