.button {
  display: inline-block;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  background: rgb(24, 117, 255);
  background: linear-gradient(
    90deg,
    rgba(24, 117, 255, 1) 0%,
    rgb(26, 36, 179) 100%
  );
  color: white;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 14px 56px -11px #1875ff;
  padding: 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: "Enviar";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  right: -50px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 3.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}

.button:active {
  box-shadow: 0 5px #666;
  transition-duration: 100;
  transform: translateY(3px);
  background-color: #096dd9;
}
